# ==============================================================================
# ENVIRONMENT VARIABLES
# ==============================================================================

# Chatbot API Key
# Gantilah "your_openai_api_key_here" dengan API Key yang Anda dapat dari platform OpenAI.
OPENAI_API_KEY="your_openai_api_key_here"
